includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
    level: 9
    paths:
        - Classes
        - Configuration
    # todo: Remove when dropping v13 support
    excludePaths:
        - Classes/EventListener/*
